$color-ui-main: #c3b4b4;
$color-ui-main-darker: darken($color-ui-main, 20%);
$color-ui-light: #ece8e8;
$color-white: #FFFFFF;
$color-black: #000000;
$color-grey: #444444;
$color-grey-light: #E6E6E6;
$color-blue-grey: #99A7B1;
$color-gold: #fbae17;
$color-pink: #e91e63;

$z-index-highest: 100;

$gutter-width: 1rem;
$grid-column-gutter: 1rem;
$breakpoints: (
  small: 0,
  medium: 800px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1440px,
);

$transition-duration: 150ms;
$ease-out-back: cubic-bezier(0.175, 0.885, 0.320, 1);
$ease-in-back: cubic-bezier(0.600, -0.280, 0.735, 0.045);

$light-box-shadow: 0 0 5px transparentize($color-black, .75);

$body-font-family: 'Open Sans', sans-serif;
$secondary-font-family: 'Pathway Gothic One', sans-serif;
$global-weight-normal: 300;

$button-border-radius: 2px;

