$color-ui-main: #c3b4b4;
$color-ui-main-darker: darken($color-ui-main, 20%);
$color-white: #FFFFFF;
$color-black: #000000;
$color-grey: #444444;
$color-grey-light: #E6E6E6;
$color-blue-grey: #99A7B1;

$z-index-highest: 100;

$gutter-width: 1rem;
$grid-column-gutter: 1rem;

$transition-duration: 150ms;