.form-control {
	width: 100%;
	margin-bottom: 20px;

	.label {
		display: block;
		// margin-bottom: 5px;
	}

	input[type="text"],
	input[type="number"],
	input[type="password"],
	textarea {
		padding: 0.5rem;
	}
}

.quantity-input-container {
	display: flex;

	.button {
		&:first-of-type {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}

		&:last-of-type {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}

	&.disabled {
		opacity: .5;
		pointer-events: none;
	}
}