header.header {
	z-index: $z-index-highest;
	// position: fixed; @todo @fixme
	top: 0;
	left: 0;
	right: 0;
	background-color: $color-ui-main;
	border-bottom: 1px transparentize($color-ui-main-darker, .5) solid;
    box-shadow: $light-box-shadow;

	.icon {
	    height: 1.5rem;
    	width: 1.5rem;
    	fill: $color-grey;
	}

	.navbar {
		display: flex;
		background-color: transparent;
	}

	.navbar-start {
		display: flex;
		align-items: stretch;
	}

	.navbar-entry {
		position: relative;
		align-items: center;
	    display: flex;
        padding: 0.5rem 1rem;
        transition: background-color $transition-duration;
        transition-timing-function: ease-in;

        color: $color-grey;

		&:hover {
        	transition-timing-function: ease-out;
			cursor: pointer;
			color: $color-grey;
			background: $color-ui-main-darker;
		}
	}

	.navbar-end {
		display: flex;
	    justify-content: flex-end;
	    margin-left: auto;
	}

	.products-counter {
		width: 20px;
		height: 20px;
		font-size: 12px;
		position: absolute;
		top: 0;
		right: 0;
		background: $color-green;
		color: $color-white;
		box-shadow: $light-box-shadow;

		.current {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		.next {
			opacity: 0;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		&.hidden {
			opacity: 0;
		}
	}
}
