.fade-enter-active, .fade-leave-active {
  transition: all 2s;
}
.fade-enter, 
.fade-leave-to {
  opacity: 0;
}

.item-listing {
	margin: 0 (-($grid-column-gutter / 2));
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;

	.list-item {
		width: 50%;
	    display: block;
	    padding: 0 $grid-column-gutter / 2;
        margin-bottom: $grid-column-gutter;

	    @include breakpoint(medium up) {
			width: 25%;
		}
	}

	.product {
      height: 100%;
      overflow: hidden;
      box-shadow: $light-box-shadow;

		a {
          position: relative;
          height: 100%;
          display: flex;
          flex-direction: column;

          &:hover,
          &:focus {
              .product-thumbnail {
                  transform: scale(1.05);
                  transition-timing-function: ease-out;
              }
          }
		}

		.product-thumbnail {
          height: 100%;
          width: 100%;
          object-fit: cover;
          transition: transform 1s ease-in, opacity $transition-duration ease-out;
	    }

	    .product-thumbnail-placeholder {
	    	position: absolute;
			z-index: -1;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: $color-ui-main;

			svg {
			    width: 100%;
			    height: 100%;
			    fill: $color-ui-main-darker;
			}
	    }

	    .product-infos {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          // justify-content: center;
          padding: $grid-column-gutter / 2;
          background: $color-white;
          text-align: center;
          color: $color-grey;
	    }

	    .product-data {
	    	line-height: 1;
	    	margin-bottom: 10px;

	    	&:last-child {
	    		margin-bottom: 0;
	    	}
	    }

	    .product-icons {
	    	svg {
	    		width: 15px;
	    		height: 15px;
	    		margin: 0 5px;
	    		fill: $color-grey;
	    	}
	    }
	}
}

// Helper to preserve thumbnail's aspect-ratio
// http://ratiobuddy.com/
.product-thumbnail-wrapper-outer {
  position: relative;

  &:before {
    display: block;
    content: "";
    width: 100%;
    // padding-top: (52 / 43) * 100%;
    padding-top: (3 / 2) * 100%;
  }
}

.product-thumbnail-wrapper-inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}