$dots-dimension: 5px;

.has-dots {
	position: relative;

	&::before,
	&::after {
		content: "";
		position: absolute;
		background-color: currentColor;
		width: $dots-dimension;
		height: $dots-dimension;
		top: 50%;
		transform: translateY(-50%);
		border-radius: 50%;
	}

	&::before {
		left: -20px;
	}

	&::after {
		right: -20px;
	}
}